.inter-normal{
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight:normal;
    font-style: normal;
  }
  header{
    max-width: 1108px;
    margin: 0 auto;
    
  }
  body{
    background-color: #000000;
  }
  .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .title{
    font-weight: 800px;
    font-size: 2.10rem;
    color: rgb(230, 83, 60);
  }
  .content ul{
    display: flex;
    list-style: none;
    border: 1px solid rgb(51, 50, 50);
    align-items: center;
    border-radius: 30px;
    
  }
  .content ul a{
    text-decoration: none;
    padding-right: 25px;
    color: rgb(255, 255, 255);
  }
  .btn{
    font-weight: 600px;
    font-size: 1rem;
    color: rgb(255, 255, 255);
    background-color: rgb(230, 83, 60);
    border: none;
    border-radius: 20px;
    padding: 10px 30px;
    margin-right: 25px;
  }
 .icon{
    display: none;
    color: whitesmoke;
 }
 /* banner section style start */
 .banner{
    display: flex;
    align-items: center;
    justify-content: space-between;
 }
 .banners{
    max-width: 520px;
    align-items: center;
 }
.banner-title{
    color: whitesmoke;
    font-weight: 900;
    font-size: 5rem;
    max-width: 520px;
}
.banner-description{
    color: rgb(150, 145, 145);
}
.bttn{
    display: flex;
}
.btn-primary{
    font-weight: 600;
    font-size: 1rem;
    color: #FFFFFF;
    background-color:#E6533C ;
    border: none;
    border-radius: 20px;
    padding: 10px 30px;
    margin-right: 25px;
}
.btn2{
    font-weight: 600px;
    font-size: 1rem;
    color: rgb(255, 255, 255);
    background-color: #000000;
    border: none;
    border-radius: 20px;
    padding: 10px 30px;
    margin-right: 25px;
    border: 1px solid rgb(219, 212, 204);
}
.container-img{
    position: relative;
    align-items: center;

}
.button1{
    position: absolute;
    top: 25%;
    left: 70%;
    background-color: #FFFFFF1A;
    padding: 10px 50px;
    border: none;
    border-radius: 10px;
}
.button2{
    position: absolute;
    top: 70%;
    right: 80%;
    background-color: #ffffff1a;
    padding: 10px 50px;
    border: none;
    border-radius: 10px;
    
}
.number{
    font-weight: 900;
    font-size: 2.5rem;
    color:#FFFFFF ;
    
}
.number2{
    font-weight: 900;
    color: #FFFFFF;
    font-size: 1.5rem;
}
.red{
    width: 10px;
    height: 10px;
    background-color: #E6533C;
    border-radius: 50%;
}
.video{
    font-weight: 400;
    font-size: .75rem;
    color: #FFFFFFA6;
}
 /* banner section style end */
 /* change habits section style start */
 .section1{
    max-width: 1108px;
    margin: 0 auto;
 }
.habits-containr{
    text-align: center;
    color: #FFFFFF;
    margin-top: 90px;
    align-items: center;
}
.habits-containr h2{
    font-weight: 900;
    font-size: 3rem;

}
.habits-containr p{
    color: rgb(150, 145, 145);
}
.card-container{
    display: flex;
    margin-top: 70px;
}
.card{
    align-items: center;
    text-align: center;
}
.card img{
    border-radius: 100%;
}
.card h3{
    color: #FFFFFF;
}
.card p{
    color:#FFFFFF80;
    align-items: center;
    align-items: center;
    
}










 /*change habits section style end  */
  /* responsive small device */
  @media screen and (max-width:576px) {
    .content{
        display: none;
    }
    .container{
        flex-direction: row;
    }
    .title{
        margin-left: 10px;
    }
    .icon{
        display: block;
        font-size: 1.5rem;
    }
    .banner{
        flex-direction: column;
    }
    .bttn{
        flex-direction: row;
        align-items: center;
    }
    .button2{
        right: 50%;
    }
    .card-container{
        flex-direction: column;
    }
    .card-title{
        text-align: center;
        
    }
    .section1{
        margin-left: 20px;
    }
    .banner{
        margin-left: 20px;
    }
    
    
    
    
  }
  